@media (max-width: 768px) {
    .header{
background-color: red }
}

header .subtitle{
    font-size: 16px;
}
card-header {
    font-size: 16px;
}

.code-grid {
    flex-direction: column;
}

.code-card{
    width: 100%;
}